.m-macro-list-item-meta{
    list-style:none;
    margin:0;
    padding:0;
    .clearfix;
    .u-macro{
        .mb(8px);
        .fl;
        .w(33.333333%);
        .nobreak;
        box-sizing: border-box;
        padding:0 10px 0 0;
        .pointer;
        &:hover{
            color:@primary;
        }
    }
    .u-macro-icon{
        .size(24px);
        .r(4px);
        box-shadow:0 0 2px rgba(0,0,0,.2);
        .y;
        .mr(8px);
    }
    .u-macro-name{
        .fz(13px);
    }
    
}
@media screen and (max-width:@ipad){
    .m-macro-list-item-meta .u-macro{
        .w(50%);
    }
}
@media screen and (max-width:@phone){
    .m-macro-list-item-meta .u-macro{
        .w(100%);
    }
}

.m-archive-list{
    .u-item{
        // background-color:@bg-light;
        border:1px solid #DCDFE6;
        .r(4px);
        // padding:10px;
        padding-bottom:0;
        &:hover{
            background-color:#f7fbff;
        }
    }
    
    .u-content{
        padding:10px 15px;
        color:#555;
    }
    .u-post{
        .fz(14px);
        // .mb(10px);
        padding:5px 10px;
        .db;
        background-color:#F5F7FA;
        // a{color:#eee;}
        .fz(14px,28px);
        border-top-left-radius:4px;
        border-top-right-radius:4px;
        border-bottom:1px solid #DCDFE6;
        .u-title{
            color:#259;
            &:hover{
                box-shadow:0 1px 0 #259;
            }
        }
        img{
            .size(22px);
            .y;
            .mr(5px);
        }
    }

    .u-misc{
        .pa;.rt(10px,8px);
        color:#777;
    }
    .u-author{
        .fr;
    }
    .u-date{
        .fr;
        .mt(0);
        // .mr(10px);
        i{.mr(5px);}
    }
}

.m-macro-drawer{
    .size(100%);.rt(0);

    .u-box{
        padding:20px;
    }

    .u-skip{
        .db;
        .mt(20px);
    }
}

@media screen and (max-width:@ipad){
    .m-macro-drawer .el-drawer{
        .w(50%) !important;
    }
}
@media screen and (max-width:@phone){
    .m-macro-drawer .el-drawer{
        .w(100%) !important;
    }
}