// 列表搜索
.m-archive-search{
    .mb(10px);
    .el-select .el-input {
        width: 80px;
    }
    .u-switch{
        .el-switch__label{
            .bold;
            color:#666;
        }
    }
}
@media screen and (max-width:@ipad){
    .m-archive-list .u-misc{
        .ps !important;
        .ml(20px);
    }
}

.m-macro-list{
    .u-sync {
        background-color: #49c10f;
        border-color: #3cb700;
        &:hover{
            background-color:lighten(#49c10f,2%);
        }
    }
}