.m-single-macro {
    .el-tabs__item {
        background-color: @bg-light;
        border-bottom: 1px solid #e4e7ed !important;
        user-select: none;
        .pr;
        padding-left:10px;
        padding-right:10px;

        &.is-active {
            border-bottom: none !important;
            // background-color:#fff;
            background-color: #e6f0fb;
            .bold;
        }
    }
    .el-tabs__content {
        overflow: visible;
    }

    .u-label{
        .flex;
        align-items: center;
        gap:5px;
    }

    .u-icon {
        // .pa;.lt(10px,8px);
        .size(24px);
        .r(3px);
        .y;
    }

    .u-panel {
        .mt(10px);
        .mb(10px);
        white-space: nowrap;
        overflow-x: auto;
    }
    .u-speed {
        // .mb(40px);
        padding:10px;
    }

    .u-usage {
        white-space: pre-wrap;
        background-color: #fafbfc;
        .fz(14px, 2);
        border: 1px solid #eee;
        border-bottom: none;
        // .mb(40px);
        padding: 5px 10px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .u-macro.withUsage {
        .w-jx3macro ol {
            margin: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        .m-skills-list {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }
}
// $notify 样式错误
.el-notification__content {
    p {
        word-break: break-all;
    }
}

@media screen and (max-width: @phone) {
    .m-single-macro,.m-macro-drawer{
        .u-macro-panel-copyname,
        .u-talent-panel-copysq {
            .none;
        }
    }
}
