.highlight(@i: 1,@n,@bgcolor:#fc3c3c) when (@i <= @n) {
    .el-table__row:nth-child(@{i}) td:first-child {
        background-color: @bgcolor;
        color: #fff;
    }
    .highlight((@i + 1), @n, @bgcolor);
}

.m-macro-rank-full {
    .el-table__row td:first-child {
        .x;
    }
    .u-order {
        .db;
        .size(20px);
        .r(50%);
        background-color: #aaa;
        color: #fff;
        .fz(12px,20px);
    }
    .t1 .u-order {
        background-color: #fc3c3c !important;
    }
    .t2 .u-order {
        background-color: #fba524 !important;
    }
    .t3 .u-order {
        background-color: @primary !important;
    }
}

.m-macro-rank-full {
    .u-feed {
        color: @darkblue;
    }

    .u-feed:hover {
        color: @pink;
    }

    .u-icon-xf {
        .size(20px);
        .y(-4px);
        .mr(5px);
    }

    // 固定表头
    .el-table {
        overflow: visible;
        .mt(20px);
    }
    .el-table__header-wrapper {
        position: sticky;
        top: 152px;
        .z(10);

        .cell {
            .fz(12px);
            // font-weight: normal;
            color: @darkblue;
        }
    }
    // 排行榜表格内容
    .el-table {
        .cell {
            .fz(13px);
            // font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", -apple-system, "Microsoft YaHei",
            //     Trebuchet MS, Calibri, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Helvetica, sans-serif;
            // text-rendering: optimizelegibility;
        }
        th {
            padding: 5px 0;
        }
        td {
            padding: 8px 0;
        }
    }
    .u-trending {
        .db;
        .fz(12px);
        .bold;
        transform: scale(0.8);
        .x;
    }
}
@media screen and (max-width: @phone) {
    .m-macro-rank-full {
        .el-table__header-wrapper {
            top: 112px;
        }
        .el-table {
            min-width: 800px;
        }
        // .cell{
        //     .nobreak;
        // }
        // .u-cell-feed{
        //     min-width:200px;
        // }
    }
}
.m-macro-rank-mini {
    padding: 15px;

    .u-icon {
        margin-right: 5px;
        vertical-align: -5px;
    }

    .u-list {
        list-style: none;
        margin: 0;
        padding: 0 5px;
    }

    li {
        display: block;
        .fz(12px, 34px);
        height: 34px;
        border-bottom: 1px dotted #eee;
        .nobreak;
        .pr;
        display: flex;
        align-items: center;
    }

    .u-order {
        background-color: @bg-gray;
        // padding: 2px 10px;
        .mr(10px);
        .r(3px);
        .fz(12px, 16px);
        .size(16px);
        color: #888;
        box-sizing: border-box;
        // font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
        .x;
        flex-shrink: 0;
    }

    .t1 {
        color: #fff;
        background-color: #fc3c3c;
    }
    .t2 {
        color: #fff;
        background-color: #fba524;
    }
    .t3 {
        color: #fff;
        background-color: #0366d6;
    }

    .u-more {
        .fr;
        .fz(12px);
        .pointer;
        font-weight: normal;
        color: #777;
        &:hover {
            color: @pink;
        }
    }

    .u-trending {
        .ml(10px);
    }

    .u-per {
        .rt(0);
        background-color: #fff;
        .z(1);
        padding: 0 5px;
        flex-shrink: 0;
    }

    .u-link {
        white-space: nowrap;
        .flex;
        align-items: center;
        overflow: hidden;

        &:hover {
            .u-name {
                color: @pink;
                .bold;
            }
        }
    }
    .u-name {
        color: #54606d;
        flex: 1;
        .nobreak;
        padding-right: 5px;
    }
    .u-count {
        .db;
        .fz(12px);
        color: @primary;
        margin-right: 2px;
        transform: scale(0.75);
    }
}
// @media screen and (max-width: @phone) {
//     .m-macro-rank-mini {
//         .none;
//     }
// }

.m-macro-rank {
    .u-trending {
        &::before {
            .mr(2px);
        }

        &.el-icon-top {
            color: #d00505;
        }
        &.el-icon-bottom {
            color: #49c10f;
        }
        &.u-trending-keep {
            color: #999;
        }
    }
}

.v-rank {
    .el-tabs__header {
        .mb(0);
    }
    .mt(-15px);
}

.m-rank-tips {
    .mt(10px);
}
