.m-single-info{
    .u-icon-xf{
        .size(20px);
        .y;
    }
}

.m-single-macro {
    margin: 20px 0;
}

.m-single-post .el-divider{
    .mt(24px);
}


@media screen and (max-width:@phone){
    .m-single-talent-container{
        // overflow-x: auto;
        // overflow-y: visible;
        .w-qixue-box .w-qixue-item-pop {
            .none;
        }
        .w-qixue-box{
            width: 100%;
            overflow: auto;
            box-sizing: border-box;
        }
        .w-qixue-clist{
            display: inline-flex;
            flex-wrap: nowrap;
        }
    }
}
